.ih{
    border: 2px solid transparent;
    position: relative;
}
.ih:hover{
    border: 2px dotted gray;
}

.lcw {
    opacity: 0;
    position: absolute;
    top: 50%;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    width: 70px;
    height: 40px;
    color: #222;
    text-align: center;
    line-height: 40px;
    margin-top: -20px;
}