.ih{
    border: 2px solid transparent;
    position: relative;
}
.ihr:hover,.ihr:active,.ihb:hover,.ihb:active{
    background: #0085ba;
}

.lcw {
    opacity: 0;
    position: absolute;
    top: 50%;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    width: 70px;
    height: 40px;
    color: #222;
    text-align: center;
    line-height: 40px;
    margin-top: -20px;
}
@media(max-width:980px){
	img {max-width:100%;}
}

.ihr{
    height :100%;
    top: 0;
    border-top: 0;
    border-bottom: 0;
}
.ihb{
    height :100%;
    bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

.ihr:before,.ihb:before {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    background: #dadada;
    cursor: inherit;
    position: absolute;
    top: calc(50% - 4px);
    right: calc(50% - 4px);
    transition: transform .1s ease-in;
    opacity: 0;
}


.wp-block-image.is-focused .ihr,.wp-block-image.is-focused .ihb{
    display: block;
    z-index: 1;
    
}
[data-align="center"] .imc{
    margin: 0 auto;
}

[data-align="right"] .imc{
    float: right;
}