/**
 * #.# Styles
 */
 .bw {
	.b {
		padding: 8px 16px;
		z-index: 1;
		position: relative;
		cursor: pointer;
		font-size: 18px;
		display: flex;
		line-height: 1.6;
		text-decoration: none;
		text-align: center;
		justify-content: center;
		border-style: solid;
		transition: all .3s ease-in-out;
		overflow: hidden;
		background:transparent;
		color:#555555;
	}
	.b:hover, .b:focus {
		border-color:#444444;
		color:#ffffff;
	}
	.b-size-small {
		font-size: 16px;
		padding: 4px 8px;
		border-width: 1px;
	}
	.b-size-large {
		font-size: 20px;
		padding: 12px 24px;
		border-width: 3px;
	}
}
.bp .bw a.b:not(.link) {
    text-decoration: none;
}
.b::before {
    position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background:#444444;
	transition: all .3s ease-in-out;
}
.b:hover::before, .b:focus::before {
	opacity: 1;
}
.b-svg-icon.b-side-right {
    padding-left: 5px;
}
.b-svg-icon.b-side-left {
    padding-right: 5px;
}
.b-has-text-false .b-svg-icon {
    padding-left:0;
    padding-right:0;
}
.bw {
    display: inline-block;
    margin-bottom: 5px;
}
.b-align-center {
    text-align: center;
}
.b-align-left {
    text-align: left;
}
.b-align-right {
    text-align: right;
}
.bp .bw:last-child {
    margin-right: 0;
}
.bp .bw {
    margin-right: 5px;
}
.amp-force-btn-fullwidth {
    display: flex;
}
.amp-force-btn-fullwidth .bw {
    display: block;
    flex-grow: 1;
}
.amp-force-btn-fullwidth .bw .b {
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
.bt-align-center {
    text-align: center;
}
.bt-align-left {
    text-align: left;
}
.bt-align-right {
    text-align: right;
}
}
@media (max-width: 767px) {
.bm-align-center {
	text-align: center;
}
.bm-align-left {
	text-align: left;
}
.bm-align-right {
	text-align: right;
}
}
