/**
 * #.# Styles
 */
 .amp-btn-wrap {
	.amp-button {
		padding: 8px 16px;
		z-index: 1;
		position: relative;
		cursor: pointer;
		font-size: 18px;
		display: flex;
		line-height: 1.6;
		text-decoration: none;
		text-align: center;
		justify-content: center;
		border-style: solid;
		transition: all .3s ease-in-out;
		overflow: hidden;
		background:transparent;
		color:#555555;
	}
	.amp-button:hover, .amp-button:focus {
		border-color:#444444;
		color:#ffffff;
	}
	.amp-btn-size-small {
		font-size: 16px;
		padding: 4px 8px;
		border-width: 1px;
	}
	.amp-btn-size-large {
		font-size: 20px;
		padding: 12px 24px;
		border-width: 3px;
	}
}
.wp-block-amp-advancedbtn .amp-btn-wrap a.amp-button:not(.link) {
    text-decoration: none;
}
.amp-button::before {
    position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background:#444444;
	transition: all .3s ease-in-out;
}
.amp-button:hover::before, .amp-button:focus::before {
	opacity: 1;
}
.amp-btn-svg-icon.amp-btn-side-right {
    padding-left: 5px;
}
.amp-btn-svg-icon.amp-btn-side-left {
    padding-right: 5px;
}
.amp-btn-has-text-false .amp-btn-svg-icon {
    padding-left:0;
    padding-right:0;
}
.amp-btn-wrap {
    display: inline-block;
    margin-bottom: 5px;
}
.amp-btn-align-center {
    text-align: center;
}
.amp-btn-align-left {
    text-align: left;
}
.amp-btn-align-right {
    text-align: right;
}
.wp-block-amp-advancedbtn .amp-btn-wrap:last-child {
    margin-right: 0;
}
.wp-block-amp-advancedbtn .amp-btn-wrap {
    margin-right: 5px;
}
.amp-force-btn-fullwidth {
    display: flex;
}
.amp-force-btn-fullwidth .amp-btn-wrap {
    display: block;
    flex-grow: 1;
}
.amp-force-btn-fullwidth .amp-btn-wrap .amp-button {
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
.amp-btn-tablet-align-center {
    text-align: center;
}
.amp-btn-tablet-align-left {
    text-align: left;
}
.amp-btn-tablet-align-right {
    text-align: right;
}
}
@media (max-width: 767px) {
.amp-btn-mobile-align-center {
	text-align: center;
}
.amp-btn-mobile-align-left {
	text-align: left;
}
.amp-btn-mobile-align-right {
	text-align: right;
}
}
