/** Testimonial Design CSS **/
.ab-tsti-w{
    width:600px;
    margin:20px auto 0px auto;
    background-color: #fff;
    border-radius: 12px;
    font-family:sans-serif;
    background:#fff;
}
.ab-tsti-cnt{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 30px;
    margin: 0 auto 30px auto;
}
.ab-tsti-nm{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 5px;
}
.ab-tsti-spf{
    font-size: 11px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.ab-tsti-w li  amp-img{
    margin:0 auto 10px auto;
    max-width:70px;
    max-height:70px;
    min-height:70px;
    border-radius: 100px;
}
.ab-tsti-w li:before {
    content: '“';
    font-size: 70px;
    color: #e4e4e4;
    position: relative;
    top: 10px;
    line-height: 0;
    margin: 0 auto 30px auto;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
}


/** **/
 .ab-tsti-w li{
    text-align: center;
    list-style: none;
    padding: 50px 40px 30px 40px;
}
ul.amp-dts{
    list-style: none;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.amp-dts li{
    margin-right:10px;
}
.amp-dts li div:before{
    content:" ";
    display:inline-block;
    width:11px;
    height:11px;
    background:rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    cursor: pointer;
}
.amp-dts li div.active:before{
    background:#000;
}
.amp-dts li div span{display:none;}




@media(max-width:767px){
    .ab-tsti-w{
        width:100%;
    }
}

@media(max-width:500px){
    .ab-tsti-w{
        min-height: 350px;
    }
    .ab-tsti-w li {
        padding: 30px 20px 10px 20px;
    }
}