*,*:after,*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: 
    border-box;-ms-box-sizing: 
    border-box;-o-box-sizing: border-box;
}
.body{
    font-size:16px;
    line-height: 1.4;
    font-family: 'sans-serif';
}
a,a:hover{text-decoration: none; !important;}

/** CTA Design CSS **/
.ab-cta-w{
    width:100%;
    margin:20px auto;
    display: inherit;
    box-shadow: 0px 0px 10px #e4e4e4;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    font-family:sans-serif;
    background:#fff;
}
.ab-cta-st{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px;
    display: inline-block;
}
h3.ab-cta-t{
    font-size:30px;
    line-height:1.4;
    font-weight:600;
    margin:0px 0px 20px;
}
a.ab-cta-b{
    padding:12px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
    text-decoration: none !important;
}
.sub-hd-clr{
    margin-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
    display: inline-block;
}
.sub-hd-clr span{
    margin-bottom: 15px;
    display: inline-block;
    font-size: 13px;
    color: #555;
}
.components-base-control__label{
    font-size: 15px;
    color: #222;
}
.cntrl-lbl{
    padding-bottom: 10px;
    display: inline-block;
}



/** Button CSS **/
.ab-btn-w{
    margin:20px auto;
    font-family:sans-serif;
    background:#fff;
    width:100%;
    display: inline-block;
}
a.ab-btn{
    text-decoration: none !important;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
a.ab-cta-b:hover{
    color:#fff;
}

/** Testimonial Design CSS **/
.ab-tsti-w{
    width:600px;
    margin:20px auto;
    box-shadow: 0px 0px 10px #e4e4e4;
    background-color: #fff;
    border-radius: 12px;
    font-family:sans-serif;
    background:#fff;
    padding:20px;
}
.ab-tsti-cnt{
    font-size: 22px;
    margin-bottom: 30px;
    margin: 0 auto 30px auto;
}
.ab-tsti-nm{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.ab-tsti-spf{
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}
.ab-tsti-w img.ab-tst-img{
    margin:0 auto 10px auto;
    width:70px;
    height:70px;
    border-radius: 100px;
}
.ab-tsti-w li:before {
    content: '“';
    font-size: 70px;
    color: #e4e4e4;
    position: relative;
    top: 10px;
    line-height: 0;
    margin: 0 auto 30px auto;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
}
 .ab-tsti-w li{
    text-align: center;
    list-style: none;
    padding: 50px 30px 30px 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.ab-trsh-btn{
    position: absolute;
    top:0px;
    right:0px;
}

/** Team design CSS **/
.ab-team-blk{
    width:100%;
    display:inline-block;
}
.ab-team-blk h1.ab-team-tlt{
    font-size: 30px;
    margin: 0px 0px 5px 0px;
    font-weight: 700;
}
.ab-team-blk span.ab-team_dsc{
    font-size:14px;
    font-weight:500;
}
.ab-tm-lst{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:0px;
    font-family: sans-serif !important;
}
.ab-team-blk li{
    list-style: none;
    position: relative;
    padding:0px 12px;
    margin-bottom: 20px !important;
}
.ab-team-blk li img{
    width:80px;
    height: 80px;
    margin-bottom: 15px;
    border-radius: 100px;
}
.ab-tm-nm{
    font-size:15px;
    font-weight:600;
}
.ab-tm-position{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}
.ab-tm-desc{
    font-size: 13px;
}


/** Latest Posts CSS **/
.lp-wrap{
    width:580px;
    margin:0 auto;
    padding:20px;
}
.lp-wrap li{
    list-style: none;
}
.lp-wrap li a{
    text-decoration: none !important;
}
.lst-pst h3.ab-lp-tlt{
    margin:0px;
    font-size:20px;
    font-weight:600;
}
.lp-wrap .lst-pst{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    border: 1px solid #ccc;
    border-bottom: none;
    margin: 0;
}
.lp-left{
    flex:1 0 50%;
}
.lp-rght{
    flex: 1 0 22%;
    margin-left: 30px;
}
.lp-wrap .lst-pst:last-child{
    border-bottom:1px solid #ccc;
}
.lp-cat a{
    font-size:14px;
    font-weight:500;
}
.lp-wrap .excerpt{
    font-size:15px;
    color:#222;
}