*,*:after,*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: 
    border-box;-ms-box-sizing: 
    border-box;-o-box-sizing: border-box;
}
.body{
    font-size:16px;
    line-height: 1.4;
    font-family: 'sans-serif';
}
a,a:hover{text-decoration: none; !important;}

/** CTA Design CSS **/
.ab-cta-w{
    width:100%;
    margin:20px auto;
    display: inherit;
    box-shadow: 0px 0px 10px #e4e4e4;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    font-family:sans-serif;
    background:#fff;
}
.ab-cta-st{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px;
    display: inline-block;
}
h3.ab-cta-t{
    font-size:30px;
    line-height:1.4;
    font-weight:600;
    margin:0px 0px 20px;
}
a.ab-cta-b{
    padding:12px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
    text-decoration: none !important;
}
.sub-hd-clr{
    margin-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
    display: inline-block;
}
.sub-hd-clr span{
    margin-bottom: 15px;
    display: inline-block;
    font-size: 13px;
    color: #555;
}
.components-base-control__label{
    font-size: 15px;
    color: #222;
}
.cntrl-lbl{
    padding-bottom: 10px;
    display: inline-block;
}



/** Button CSS **/
.ab-btn-w{
    margin:20px auto;
    font-family:sans-serif;
    background:#fff;
    width:100%;
    display: inline-block;
}
a.ab-btn{
    text-decoration: none !important;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
a.ab-cta-b:hover{
    color:#fff;
}

/** Testimonial Design CSS **/
.ab-tsti-w{
    width:600px;
    margin:20px auto;
    box-shadow: 0px 0px 10px #e4e4e4;
    background-color: #fff;
    border-radius: 12px;
    font-family:sans-serif;
    background:#fff;
    padding:20px;
}
.ab-tsti-cnt{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 30px;
    margin: 0 auto 30px auto;
}
.ab-tsti-nm{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 5px;
}
.ab-tsti-spf{
    font-size: 11px;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}
.ab-tsti-w img.ab-tst-img{
    margin:0 auto 10px auto;
    width:70px;
    height:70px;
    border-radius: 100px;
}
.ab-tsti-w li:before {
    content: '“';
    font-size: 70px;
    color: #e4e4e4;
    position: relative;
    top: 10px;
    line-height: 0;
    margin: 0 auto 30px auto;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
}
 .ab-tsti-w li{
    text-align: center;
    list-style: none;
    padding: 50px 30px 30px 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.ab-trsh-btn{
    position: absolute;
    top:0px;
    right:0px;
}